::-webkit-scrollbar {
  width: 1.1em;

  &-thumb {
    border: 4px solid var(--primary-color);
    background-color: var(--primary-color-lighter);
    border-radius: 10px;
  }

  &-corner {
    background-color: transparent;
  }

  &-button {
    width: 0;
    height: 0;
    display: none;
  }
}

:root {
  --primary-color: #191c26;
  --primary-color-lighter: #3d435d;
  --secondary-color: #2EDBE9;
  --tertiary-color: #CD5C73;
}

/* Using block, cause Single Page :o */

body {
  margin: 0;
  background: var(--primary-color);
  font-family: 'JetBrains Mono', monospace;
  place-content: center;
  color: white;
  display: grid;
}

main {
  width: 90vw;
}

h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  background-color: var(--primary-color-lighter);
  border-radius: 5px;
  padding: 0.5em 0;
}

h2 {
  position: relative;
  font-size: 1.5em;
  padding-left: 1em;
  margin-top: 50px;

  &:before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: .5em;
    height: 100%;
    background-color: var(--primary-color-lighter);
  }
}

/* > border-left for rounded corners */

#news_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}

article {
  padding: 5px 25px;
  border-radius: 5px;
  background-color: var(--primary-color-lighter);
  border-top: 5px solid var(--secondary-color);
  animation: fade 1s normal;

  &:focus-within {
    border-top: 5px solid var(--tertiary-color)
  }
}

@keyframes fade {
  from {
    border-top: 5px solid var(--tertiary-color);
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    border-top: 5px solid var(--tertiary-color);
    transform: translateY(0);
    opacity: 1;
  }
}

article header {
  display: flex;
  align-items: center;

  h3 {
    flex: 1;
  }

  img {
    justify-self: flex-end;
  }
}

p, h3 {
  transition: all .3s ease-in-out;

  &:focus-within {
    padding: 25px;
    background-color: var(--primary-color);
    outline: none;
  }
}

p {
  margin-left: 2px;
}

code {
  font-family: inherit;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 4px 8px;
}

form {
  width: 80%;
  background-color: var(--primary-color-lighter);
  border-radius: 5px;
  padding: 25px;

  &:focus-within > button {
    background-color: var(--tertiary-color);
  }
}

input {
  font-family: inherit;
  color: inherit;
  width: calc(100% - 40px);
  outline: none;
  border: none;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
}

button {
  font-family: inherit;
  color: inherit;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;

  &:hover {
    box-shadow: none;
  }
}

input, textarea, button, a {
  transition: all .3s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 5px var(--tertiary-color);
    outline: none;
  }
}

textarea {
  font-family: inherit;
  color: inherit;
  height: 15vh;
  width: calc(100% - 40px);
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
  resize: none;
  border: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 920px) {
  #news_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  form {
    width: 33%;
  }
}